@use "../../../style/palette.scss";
@use "../../../style//base.scss";

.episodeInfo-container {
  @include base.containerSize($width: 70%);
  overflow: scroll;
  .episodeInfo-container-msn {
    @include base.containerDisplay();
    @include base.containerSize();
    color: whitesmoke;
    font-size: 2rem;
  }
}
