@use "../../style//palette.scss";
@use "../../style//base.scss";

.headerContainer {
  @include base.containerSize($height: 10vh);
  @include base.containerDisplay($justify: space-between);
  color: palette.$autodeskwhite;
  box-sizing: border-box;
  padding: 0 3.8% 0;
  .headerLogo {
    font-weight: bold;
    font-size: 2.7rem;
  }
}
