// autodeskBlue colors

$autodeskBlue100: #cdeaf7;
$autodeskBlue200: #9bd5ef;
$autodeskBlue300: #6ac0e7;
$autodeskBlue400: #38abdf;
$autodeskBlue500: #0696d7;
$autodeskBlue600: #007fc6;
$autodeskBlue700: #006eaf;
$autodeskBlue800: #074b78;
$autodeskBlue900: #0a324d;

// autodeskTurquise color

$autodeskTurquoise100: #d6f2ef;
$autodeskTurquoise200: #ade4de;
$autodeskTurquoise300: #84d7ce;
$autodeskTurquoise400: #5bc9bd;
$autodeskTurquoise500: #32bcad;
$autodeskTurquoise600: #23a597;
$autodeskTurquoise700: #168576;
$autodeskTurquoise800: #0c665b;
$autodeskTurquoise900: #04403d;

// general uses color

$autodeskblack: #000000;
$autodeskwhite: #ffffff;
$autodeskagainstLight: #006eaf;
$autodeskagainstDark: #6dd2ff;
$greenvariation: #44e3d0;
$autodeskdark: #3c3c3c;
