@use "./style//base.scss";

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.App {
  @include base.containerSize($height: 100vh);

  background-image: linear-gradient(
    to right bottom,
    #3c3c3c,
    #49495a,
    #51577a,
    #53679c,
    #4a78c0,
    #4a78c0,
    #4a78c0,
    #4a78c0,
    #53679c,
    #51577a,
    #49495a,
    #3c3c3c
  );
}
