* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient(
    to right bottom,
    #3c3c3c,
    #474356,
    #52496f,
    #5f4f89,
    #6e54a3,
    #6468bf,
    #4c7cda,
    #0091f2,
    #00b2f7,
    #00cde7,
    #44e3d0,
    #a2f5be
  );
}
